@charset "UTF-8";
/*! -----------------------
@@@@@@@@@@@@@@@@@@@@@@@@@@
Sassファイルで管理中
style.cssを直接編集しない！
@@@@@@@@@@@@@@@@@@@@@@@@@@
--------------------------*/
body {
  font-size: 10px;
  /*IE9以前に対応する*/
  font-size: 10px;
  font-size: 0.625rem;
  color: #333333;
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.section__inner {
  margin: 0 auto;
  padding: 0 4vw;
}

.py {
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

.hp_bgGradWhite {
  background: linear-gradient(to bottom, transparent 0%, transparent 160px, rgba(255, 255, 255, .8) 160px, rgba(255, 255, 255, .8) 100%);
}

.hp_bgWhite {
  background-color: rgba(255, 255, 255, .8);
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
  width: 100vw;
}

.hp_clrWhite {
  color: #ffffff !important;
}

.hp_lgSpace {
  margin-bottom: 60px !important;
}

.hp_smPadTopBtm {
  padding-top: 48px;
  padding-bottom: 48px;
}

.hp_smSpace {
  margin-bottom: 30px !important;
}

.hp_smTopSpace {
  margin-top: 30px !important;
}

.hp_sp {
  display: none;
}

/*=======================================================
# パンくずリストモジュール
=======================================================*/
.bl_breadcrumb {
  margin-top: 30px;
  overflow-x: auto;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
}

.bl_breadcrumb a {
  color: inherit;
}

.bl_breadcrumb_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bl_breadcrumb_inner > *:last-child {
  margin-right: 0;
}

.bl_breadcrumb_inner > li {
  margin-right: 15px;
}

.bl_breadcrumb_link + .bl_breadcrumb_link::before {
  content: ">";
  margin-right: 10px;
}

.bl_breadcrumb_link a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.bl_breadcrumb_link a:hover {
  opacity: 0.6;
}

/*=======================================================
# カードモジュール
=======================================================*/
.bl_card {
  margin-top: 30px;
  background-color: #ffffff;
}

.bl_card_imgWrapper {
  position: relative;
  padding-top: 54.69799%;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

.bl_card_imgWrapper img {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #666666;
}

.bl_card_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #333333;
}

.bl_card_link:focus, .bl_card_link:hover {
  opacity: .75;
}

.bl_card_body {
  padding: 14px 14px 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 100%;
}

.bl_card_body time {
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
}

.bl_card_body p {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 16px;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
  width: 100%;
  line-height: 1.25;
}

.bl_cardUnit_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.bl_cardUnit_top > .bl_card {
  width: calc(33.33333% - 20px);
  margin-right: 30px;
}

.bl_cardUnit_top > .bl_card:nth-child(3n) {
  margin-right: 0;
}

.bl_cardUnit_top > .bl_card:nth-child(n+4) {
  width: calc(50% - 15px);
  margin-right: 30px;
}

.bl_cardUnit_top > .bl_card:nth-child(n+4):nth-child(2n+3) {
  margin-right: 0;
}

.bl_cardUnit_top > .bl_card:nth-child(n+4) .bl_card_imgWrapper {
  padding-top: 0;
  padding-left: 40%;
  width: 0;
}

.bl_cardUnit_top > .bl_card:nth-child(n+4) .bl_card_imgWrapper img {
  left: -50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.bl_cardUnit_top > .bl_card:nth-child(n+4) .bl_card_imgWrapper .bl_card_body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.bl_cardUnit_top > .bl_card:nth-child(n+4) .bl_card_link {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bl_cardUnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.bl_cardUnit > .bl_card {
  width: calc(33.33333% - 20px);
  margin-right: 30px;
}

.bl_cardUnit > .bl_card:nth-child(3n) {
  margin-right: 0;
}

.bl_cast {
  width: calc(50% - 15px);
  margin-right: 30px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.bl_cast:nth-child(2n) {
  margin-right: 0;
}

.bl_cast_imgWrapper {
  width: 100%;
  height: 100%;
}

.bl_cast_imgWrapper img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  /* この一行を追加するだけ！ */
}

.bl_cast_body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  margin-top: 12px;
}

.bl_cast_pos {
  margin-bottom: 10px;
}

.bl_cast_nm {
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.bl_cast_op {
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 20px;
}

.bl_cast_msg {
  line-height: 1.5;
  text-align: left;
}

/*=======================================================
# キャストモジュール
=======================================================*/
.bl_castMain {
  width: calc(33.33333% - 20px);
  margin-right: 30px;
  text-align: center;
}

.bl_castMain:nth-child(3n) {
  margin-right: 0;
}

.bl_castMain_imgWrapper {
  height: 220px;
}

.bl_castMain_imgWrapper img {
  border-radius: 50%;
  height: 100%;
  width: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  /* この一行を追加するだけ！ */
}

.bl_castMain_name {
  margin-top: 12px;
}

.bl_castMain_name p {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.bl_castMain_name strong {
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 18px;
  font-size: 1.125rem;
}

.bl_castMain_op {
  color: #666666;
}

.bl_castMain_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  text-align: left;
  line-height: 1.7;
  margin-bottom: 40px;
  color: #333333;
}

/*=======================================================
# キャストユニットモジュール
=======================================================*/
.bl_castMainUnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bl_castNoImg {
  width: calc(33.33333% - 20px);
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.bl_castNoImg:nth-child(3n) {
  margin-right: 0;
}

.bl_castNoImg_pos {
  margin-bottom: 10px;
  color: #666666;
}

.bl_castNoImg_nm {
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.bl_castNoImg_op {
  margin-bottom: 20px;
}

.bl_castNoImg_msg {
  line-height: 1.5;
  text-align: left;
}

/*=======================================================
# キャストユニットモジュール
=======================================================*/
.bl_castUnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 40px;
}

.bl_commentUnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bl_comment {
  width: calc(33.33333% - 20px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.bl_comment:nth-child(3n) {
  margin-right: 0;
}

.bl_comment_nm {
  text-align: center;
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: 10px;
}

.bl_comment_pos {
  text-align: center;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 15px;
  color: #666666;
}

.bl_comment_msg {
  line-height: 1.5;
}

.bl_confirm_box {
  background: rgba(255, 255, 255, .29);
  padding: 30px;
  text-align: center;
}

.bl_confirm_msg {
  font-weight: bold;
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6666;
  text-align: center;
}

.bl_inquiry {
  background: rgba(255, 255, 255, .29);
  padding: 30px;
  margin-top: 24px;
  max-width: 736px;
  margin: 0 auto;
}

.bl_inquiry > p {
  font-weight: bold;
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6666;
}

/*=======================================================
# ニュース投稿モジュール
=======================================================*/
.bl_newsPost figure {
  width: 100%;
  height: 100%;
  margin: 0;
}

.bl_newsPost figure img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.bl_newsPost_heading {
  background-color: #333333;
  color: #ffffff;
  padding: 14px 30px 17px 30px;
}

.bl_newsPost_time {
  display: inline-block;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.bl_newsPost_ttl {
  font-size: 26px;
  /*IE9以前に対応する*/
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: bold;
}

.bl_newsPost_body {
  background-color: #ffffff;
  opacity: 0.85;
  padding: 30px;
}

.bl_newsPost h1, .bl_newsPost h2 {
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.1818;
}

.bl_newsPost h3, .bl_newsPost h4 {
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.1818;
}

.bl_newsPost p {
  line-height: 1.625;
}

.bl_newsPost p strong {
  font-size: 18pxpx;
  /*IE9以前に対応する*/
  font-size: 1.125pxrem;
  font-size: 1.125pxrem;
}

/*=======================================================
# ページャーモジュール
=======================================================*/
.bl_pager {
  margin-top: 30px;
  text-align: center;
}

.bl_pager_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.bl_pager_inner > *:last-child {
  margin-right: 0;
}

.bl_pager_inner > li {
  margin-right: 15px;
}

.page-numbers {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 24px;
  border: 2px solid #1A1A1A;
  color: #1A1A1A;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
}

.page-numbers:not(.dots):focus, .page-numbers:not(.dots):hover {
  background-color: #1A1A1A;
  color: #F4D102;
  opacity: .75;
}

.page-numbers.current {
  background-color: #1A1A1A;
  color: #F4D102;
  pointer-events: none;
}

.page-numbers.dots {
  border: none;
  line-height: 40px;
  min-width: 0;
  min-width: initial;
  width: auto;
}

/*=======================================================
# スケジュールモジュール
=======================================================*/
.bl_schedule_box {
  background: rgba(255, 255, 255, .29);
  padding: 30px 30px 60px;
  text-align: center;
}

.bl_schedule_items {
  margin-top: 30px;
}

.bl_schedule_item {
  margin-top: 25px;
  line-height: 1.25;
}

.bl_schedule_detail {
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}

.bl_schedule_detail + .bl_schedule_detail {
  margin-left: 30px;
}

.bl_schedule_detail a {
  color: inherit;
}

.bl_schedule_detail a:focus, .bl_schedule_detail a:hover {
  opacity: .75;
}

.bl_schedule__btn {
  margin-top: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bl_schedule__btn a + a {
  margin-left: 30px;
}

.bl_schedule__btn_inner + .bl_schedule__btn_inner {
  margin-left: 30px;
}

/*=======================================================
# ボタンモジュール
=======================================================*/
.el_btn {
  display: inline-block;
  max-width: 100%;
  padding: 12px;
  background-color: #c63205;
  border: 2px solid transparent;
  color: #ffffff;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s;
}

.el_btn:focus, .el_btn:hover {
  background-color: #ce5308;
}

.el_btn.el_btn__large {
  padding: 24px 30px;
}

.el_btn.el_btn__border {
  border: 3px solid #c63205;
  background-color: #ffffff;
  color: #c63205;
}

.el_btn.el_btn__border:focus, .el_btn.el_btn__border:hover {
  background-color: #f0e68c;
}

.el_btn.el_btn__brown {
  background-color: #603813;
}

.el_btn.el_btn__brown:focus, .el_btn.el_btn__brown:hover {
  background-color: #874E1B;
}

/*=======================================================
# フッタコピーライトモジュール
=======================================================*/
.el_footerCopyright {
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
  color: #ffffff;
}

.el_form_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.el_form_control + .el_form_control {
  margin-top: 15px;
}

.el_form_control dt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin-right: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.el_form_control dd {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.el_form_control dd textarea {
  width: 100%;
}

.el_form_input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  padding: 10px 16px;
  background: rgba(255, 255, 255, .7);
}

.el_form_input:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.el_form_textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  height: 240px;
  padding: 10px 16px;
  display: block;
  background: rgba(255, 255, 255, .7);
}

.el_form_textarea:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.el_form_submit {
  margin-top: 30px;
  text-align: center;
}

.el_lv2Heading {
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.el_lv3Heading {
  font-size: 28px;
  /*IE9以前に対応する*/
  font-size: 28px;
  font-size: 1.75rem;
  text-align: center;
}

/*=======================================================
# 送信ボタンモジュール
=======================================================*/
.el_submit {
  display: inline-block;
  max-width: 100%;
  padding: 10px 30px;
  background-color: #c63205;
  border: 2px solid transparent;
  color: #ffffff;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-appearance: none;
  border-radius: 0;
}

.el_submit:focus, .el_submit:hover {
  background-color: #ce5308;
}

/*=======================================================
# ページャー（大）モジュール
=======================================================*/
.navigation_body {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
}

.navigation_date {
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
  display: block;
  margin-bottom: 10px;
}

.navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .nav-links a {
  text-decoration: none;
  color: inherit;
}

.navigation .nav-next:hover, .navigation .nav-next:focus,
.navigation .nav-previous:hover,
.navigation .nav-previous:focus {
  opacity: 0.8;
}

.navigation .nav-next a,
.navigation .nav-previous a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .screen-reader-text {
  display: none;
}

.navigation .fas {
  font-size: 32px;
}

.navigation .fa-chevron-circle-left {
  margin-right: 15px;
}

.navigation .fa-chevron-circle-right {
  margin-left: 15px;
}

.bl_pageNavi_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bl_pageNavi_inner li {
  width: 45%;
}

.bl_pageNavi_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #333333;
}

.bl_pageNavi_link:hover, .bl_pageNavi_link:focus {
  opacity: 0.8;
}

.bl_pageNavi_date {
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
  display: block;
  margin-bottom: 10px;
}

.bl_pageNavi_ttl {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
}

.bl_pageNavi .fas {
  font-size: 32px;
  margin-top: 10px;
}

.bl_pageNavi .fa-chevron-circle-left {
  margin-right: 15px;
}

.bl_pageNavi .fa-chevron-circle-right {
  margin-left: 15px;
}

.ly_footer {
  background-color: #333333;
  padding-top: 34px;
  padding-bottom: 34px;
  text-align: center;
}

.header__inner {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  padding: 0 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list {
  display: inline-block;
  margin-right: 2vw;
  text-align: center;
}

.nav__list > a {
  text-decoration: none;
  color: #603813;
}

.nav__list > a > span {
  display: block;
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  padding-top: 6px;
  text-transform: uppercase;
}

.nav__list > a::after {
  display: block;
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  padding-top: 6px;
  text-transform: uppercase;
}

.nav__list.-top > a::after {
  content: 'top';
}

.nav__list.-news > a::after {
  content: 'news';
}

.nav__list.-story > a::after {
  content: 'story';
}

.nav__list.-comments > a::after {
  content: 'contents';
}

.nav__list.-cast > a::after {
  content: 'cast';
}

.nav__list.-inquiry > a::after {
  content: 'inquiry';
}

.menu-btn {
  display: none;
}

.menu-btn__parts {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.menu-btn__parts.-top {
  top: 0;
}

.menu-btn__parts.-middle {
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu-btn__parts.-bottom {
  bottom: 0;
}

.menu-btn.active .menu-btn__parts.-top {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.menu-btn.active .menu-btn__parts.-middle {
  opacity: 0;
}

.menu-btn.active .menu-btn__parts.-bottom {
  -webkit-transform: translateY(-4px) rotate(45deg);
          transform: translateY(-4px) rotate(45deg);
}

.menu {
  display: none;
}

.menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*=======================================================
# [トップ] ファーストビュー
=======================================================*/
.fv-sm {
  width: 100%;
  height: 100%;
  background: transparent url(../img/common/pic10.jpg) no-repeat center center/cover;
}

.fv-sm__inner {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.fv-sm__ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fv-sm__main {
  width: 55%;
}

.fv-sm__sub {
  width: 30%;
}

.fv-sm__sub img {
  width: 100%;
}

.fv-sm__date {
  text-align: center;
  width: 40%;
}

.fv-sm__lead {
  width: 36%;
}

.fv-sm__lead p {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff;
  line-height: 1.5714;
}

.fv-sm .fv-sm__btn {
  position: absolute;
  bottom: 0;
  right: 30px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

/*=======================================================
# [トップ] ニュース
=======================================================*/
.news-archive {
  margin-top: 60px;
}

.news-archive__inner {
  position: relative;
}

.news-archive__btn {
  position: absolute;
  top: 0;
  right: 0;
}

.news-archive__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.news-archive__item {
  margin-top: 30px;
  background-color: #ffffff;
  width: calc(33.33333% - 20px);
  margin-right: 30px;
}

.news-archive__item:nth-child(3n) {
  margin-right: 0;
}

.news-archive__item-img {
  width: 100%;
}

.news-archive__item-img img {
  width: 100%;
  height: 100%;
}

.news-archive__item-txt {
  padding: 14px 14px 24px;
}

.news-archive__item-txt time {
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
}

.news-archive__item-txt p {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 16px;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
  width: 100%;
}

.story-sub {
  width: 100%;
  height: 100%;
}

.story-sub_inner {
  padding-top: 60px;
  padding-bottom: 90px;
}

.story-sub_msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.story-sub_ttl {
  margin: auto;
  vertical-align: middle;
  font-size: 26px;
  /*IE9以前に対応する*/
  font-size: 26px;
  font-size: 1.625rem;
}

.story-sub_txt {
  width: 50%;
  padding-right: 70px;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}

.story-sub:nth-child(even) .story-sub_msg {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.story-sub:nth-child(even) .story-sub_txt {
  padding-right: 0;
  padding-left: 70px;
}

.story-top {
  width: 100%;
  height: 100%;
  background: transparent url(../img/story/pic1.jpg) no-repeat center center/cover;
}

.story-top_inner {
  padding-top: 60px;
  padding-bottom: 90px;
}

.story-top_ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  vertical-align: middle;
  font-size: 26px;
  /*IE9以前に対応する*/
  font-size: 26px;
  font-size: 1.625rem;
}

.story-top_main {
  width: 55%;
}

.story-top_sub {
  width: 30%;
}

.story-top_sub img {
  width: 100%;
}

.story-top_date {
  text-align: center;
  width: 40%;
}

.story-top_lead {
  width: 36%;
}

.story-top_lead p {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff;
  line-height: 1.5714;
}

.story-top_btn {
  margin-top: 35px;
  text-align: right;
}

.story-top_msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story-top_txt {
  width: 50%;
  padding-left: 70px;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}

/*=======================================================
# [トップ] キャスト
=======================================================*/
.cast {
  background: linear-gradient(to bottom, transparent 0%, transparent 250px, rgba(255, 255, 255, .8) 250px, rgba(255, 255, 255, .8) 100%);
  width: 100vw;
}

.cast__inner {
  padding-top: 60px;
  position: relative;
}

.cast__items {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cast__item {
  width: calc(33.33333% - 20px);
  margin-right: 30px;
  text-align: center;
}

.cast__item:nth-child(3n) {
  margin-right: 0;
}

.cast__item-pic {
  height: 220px;
}

.cast__item-pic img {
  border-radius: 50%;
  width: 80%;
  height: 100%;
}

.cast__item-name {
  margin-top: 38px;
}

.cast__item-name p {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
}

.cast__item-name strong {
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 18px;
  font-size: 1.125rem;
}

.cast__item-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  text-align: left;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.7;
  margin-bottom: 30px;
}

.cast__btn {
  text-align: center;
}

/*=======================================================
# [トップ] コメント
=======================================================*/
.comments__inner {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.comments__lead {
  margin-top: 32px;
  font-size: 24px;
  /*IE9以前に対応する*/
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
}

.comments__msg {
  margin-top: 32px;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: 30px;
  background: transparent url(../img/toppage/pic6.jpg) no-repeat center center/cover;
  color: #ffffff;
  position: relative;
}

.comments__msg-psn {
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 20px;
  font-size: 1.25rem;
}

.comments__msg-psn strong {
  font-size: 24px;
  /*IE9以前に対応する*/
  font-size: 24px;
  font-size: 1.5rem;
}

.comments__msg-txt {
  width: 45%;
  margin-top: 16px;
  line-height: 1.5;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 14px;
  font-size: 0.875rem;
}

.comments__box {
  background: rgba(255, 255, 255, .8);
  margin-top: 16px;
}

.comments__body {
  padding: 30px;
}

.comments_imgWrapper {
  width: 100%;
  margin: 0;
}

.comments_imgWrapper img {
  width: 100%;
}

.comments__btn {
  text-align: right;
  margin-top: 30px;
  margin-right: 14px;
}

/*=======================================================
# [トップ] ファーストビュー
=======================================================*/
.fv {
  width: 100%;
  height: 100%;
  background: transparent url(../img/toppage/pic0.jpg) no-repeat center center/cover;
}

.fv__inner {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.fv__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 88px;
}

.fv__date {
  text-align: center;
  width: 40%;
}

.fv__lead {
  width: 36%;
}

.fv__lead p {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff;
  line-height: 1.5714;
}

.fv .fv__btn {
  position: absolute;
  bottom: 0;
  right: 30px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

/*=======================================================
# [トップ] イントロ
=======================================================*/
.intro {
  margin-top: 60px;
}

.intro .section_subttl {
  margin-top: 15px;
}

.intro__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.intro__txt p {
  width: 48%;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
  text-align: left;
  line-height: 1.5;
}

.bl_intro_box {
  background: rgba(255, 255, 255, .4) url(../img/toppage/pic1.png) no-repeat top left/200px auto;
  padding: 30px;
  text-align: center;
}

/*=======================================================
# [トップ] ニュース
=======================================================*/
.news {
  margin-top: 60px;
}

.news__inner {
  position: relative;
  padding-bottom: 62px;
}

.news__btn {
  position: absolute;
  top: 0;
  right: 30px;
}

/*=======================================================
# [トップ] スケジュール
=======================================================*/
.schedule {
  margin-top: 60px;
  margin-bottom: 60px;
}

/*=======================================================
# [トップ] ストーリー
=======================================================*/
.story {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
  background: transparent url(../img/toppage/pic5.jpg) no-repeat center center/cover;
  color: #ffffff;
}

.story__inner {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.story__txt {
  margin-top: 20px;
  margin-bottom: 16px;
  width: 35%;
  margin-left: auto;
  line-height: 1.75;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 12px;
  font-size: 0.75rem;
}

.story__btn {
  text-align: right;
  margin-top: 14px;
}

/*-----------------
YouTube
-----------------*/
.youtube {
  /* background-color: #EFEFEF; */
}

.youtube__iframe {
  margin: 60px auto 0;
  width: 800px;
  max-width: 100%;
}

.youtube__iframe-wrap {
  width: 100%;
  padding-top: 56.20609%;
  position: relative;
  overflow: hidden;
}

.youtube__iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .hp_pc {
    display: none;
  }
  .hp_sp {
    display: block;
  }
  .bl_cardUnit_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bl_cardUnit_top > .bl_card {
    width: 100%;
  }
  .bl_cardUnit_top > .bl_card:nth-child(n+4) {
    width: 100%;
  }
  .bl_cardUnit_top > .bl_card:nth-child(n+4) .bl_card_imgWrapper {
    height: 100%;
  }
  .bl_cardUnit_top > .bl_card:nth-child(n+4) .bl_card_link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bl_cardUnit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bl_cardUnit > .bl_card {
    width: 100%;
  }
  .bl_cast {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .bl_cast_imgWrapper img {
    width: 220px;
    height: 220px;
  }
  .bl_cast_body {
    width: 100%;
  }
  .bl_castMain {
    width: 100%;
  }
  .bl_castMainUnit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bl_castUnit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bl_commentUnit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bl_comment {
    width: 100%;
  }
  .bl_confirm_msg {
    font-size: 14px;
    /*IE9以前に対応する*/
    font-size: 0.875rem;
  }
  .bl_inquiry > p {
    font-size: 14px;
    /*IE9以前に対応する*/
    font-size: 0.875rem;
  }
  .bl_schedule_detail {
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
  }
  .bl_schedule_detail + .bl_schedule_detail {
    margin-left: 0;
    margin-top: 6px;
  }
  .bl_schedule__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bl_schedule__btn_inner + .bl_schedule__btn_inner {
    margin-left: 0;
    margin-top: 16px;
  }
  .el_btn.el_btn__large {
    padding: 16px 22px;
  }
  .el_form_control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .el_form_control dt {
    margin-right: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .el_form_control dd {
    margin-top: 4px;
  }
  .el_lv2Heading {
    font-size: 26px;
    /*IE9以前に対応する*/
    font-size: 1.625rem;
  }
  .el_lv3Heading {
    font-size: 18px;
    /*IE9以前に対応する*/
    font-size: 1.125rem;
  }
  .header__inner {
    height: 60px;
  }
  .header__inner {
    background-color: rgba(51, 51, 51, .7);
  }
  .nav {
    display: none;
  }
  .menu-btn {
    display: block;
    position: relative;
    margin-left: auto;
    width: 25px;
    height: 16px;
    margin-right: 4vw;
    z-index: 20;
  }
  .menu {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #333333;
  }
  .menu__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .menu__list {
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
    list-style: none;
    text-align: center;
  }
  .menu__list + .menu__list {
    padding-top: 16px;
  }
  .menu__list a {
    text-decoration: none;
    color: #ffffff;
  }
  .menu__list a > span {
    display: block;
    font-size: 18px;
    /*IE9以前に対応する*/
    font-size: 1.125rem;
    font-weight: 700;
    padding-top: 6px;
    text-transform: uppercase;
  }
  .fv-sm__date {
    width: 100%;
  }
  .fv-sm__lead {
    width: 100%;
    margin-top: 30px;
  }
  .story-sub_msg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .story-sub_ttl {
    font-size: 20px;
    /*IE9以前に対応する*/
    font-size: 1.25rem;
  }
  .story-sub_txt {
    width: 100%;
    padding-right: 0;
    margin-top: 16px;
  }
  .story-sub:nth-child(even) .story-sub_msg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .story-top_ttl {
    font-size: 20px;
    /*IE9以前に対応する*/
    font-size: 1.25rem;
  }
  .story-top_date {
    width: 100%;
  }
  .story-top_lead {
    width: 100%;
    margin-top: 30px;
  }
  .story-top_msg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .story-top_txt {
    padding-left: 0;
    width: 100%;
    margin-top: 16px;
  }
  .cast {
    background: rgba(255, 255, 255, .8);
  }
  .cast__inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .comments__msg-txt {
    width: 100%;
  }
  .comments__btn {
    text-align: center;
  }
  .fv__sub {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fv__date {
    width: 100%;
  }
  .fv__lead {
    width: 100%;
    margin-top: 30px;
  }
  .intro__txt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .intro__txt p {
    width: 100%;
  }
  .bl_intro_box {
    background-size: 120px auto;
  }
  .news__btn {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .story__txt {
    width: 100%;
  }
  .story__btn {
    text-align: center;
  }
  .youtube__iframe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1180px) {
  .news__btn {
    top: 0;
    right: 30px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
