// キャストメインここから
include ../mixin/_castitem
-
  var cast = [
   {
    img:'img/toppage/pic7.jpg',
    pos: '作・演出・振付・構成',
    nm: '小池博史',
    op: '　',
    msg: '茨城県日立市出身。一橋大学卒業。 演出家・作家・振付家・舞台美術家・写真家、舞台芸術の学校（P.A.I.）校長。 1982年「パパ・タラフマラ」設立。 演劇、舞踊、オペラ、美術、建築等、ジャンルを縦横に渡りながら空間を築き上げてゆく手法で、国際的に高い評価を確立。 3.11を受けて、翌2012年5月にパパ・タラフマラ解散。すぐに「小池博史ブリッジプロジェクト」を立ち上げ、作品を創作しながら、若手表現者の育成と芸術文化事業のプロデュースを手掛けるなど、活動は多岐に渡る。 著書に「ロンググッドバイ～パパ・タラフマラとその時代」（青幻舎刊）、「からだのこえをきく」（新潮社刊）等。',
   }, 
   {
    img:'img/toppage/pic8.jpg',
    pos: '出演',
    nm: '白井さち子',
    op: '(バレエ、コンテンポラリーダンス)',
    msg: '7歳よりクラシックバレエを始める。 82年より6年間橘バレエ学校に在籍。 牧阿佐美に師事。 日本女子体育短期大学舞踊コース卒。 在籍中、太田順造にパントマイムを師事。 89年よりパパ・タラフマラに参加。 以降国内外の公演に出演。 後身のパフォーマーのダンス指導にもあっている。 パパ・タラフマラ作品「シンデレラ」においてシンデレラ役、「三人姉妹」次女役、「パパ・タラフマラの白雪姫」継母役などを好演。 これまで約35カ国での公演に参加、そのパフォーマンスは世界各地で認められ、高く評価されている。',
   }, 
   {
    img:'img/toppage/pic9.jpg',
    pos: '出演',
    nm: '小谷野哲郎',
    op: '(バリ舞踏)',
    msg: '東海大学音楽学課程在学中よりサウンドスケープ研究の傍らバリ舞踊を始める。 1995年よりインドネシア政府給費留学生としてインドネシア国立芸術高等学院に留学。 学外でも現代バリ舞踊界最高の舞踊家達に師事し、舞踊技術と同時に精神的哲学的影響も強く受ける。 2006年、Asian Cultural Councilの助成によりアメリカに滞在。 パパ・タラフマラ作品では「ガリバー＆スウィフト」「パンク・ドンキホーテ」「白雪姫」に、小池博史ブリッジプロジェクトでは「注文の多い料理店」「風の又三郎」に出演。',
   } 
  ]

+castItem(cast)
    
// キャストメインここまで