p.comments__msg-psn
  | 京都佛立ミュージアム館長 
  strong 長松清潤
p.comments__msg-txt
  | 「文に非ず、其の義に非ず、唯だ一部の意のみ。」
  br
  | まずこの聖句が浮かんだ。境界線に立つ人類。超越する意志。小池博史氏の心象が生み出したアバターが乱舞しながら深層意識に波紋を起こしてゆく。
.comments__btn
  a.el_btn(href='#') もっと詳しく