// サブタイトル
p.comments__lead 舞台関係者のみならず各界著名人からコメントが届いています！
// メッセージメインここから
.comments__msg.hp_pc
  include ../include/_comments-msg
.comments__box.hp_sp
  figure.comments_imgWrapper
    img(src="img/toppage/pic6.jpg", alt="")
  .comments__body
    include ../include/_comments-msg
// メッセージメインここまで
