.fv-sm
  .fv-sm__inner.container
    .fv-sm__ttl
      h1.fv-sm__main
        img(src='/img/toppage/text1.png' alt='')
      .fv-sm__sub
        img(src="/img/toppage/text2.png", alt="")
    .fv-sm__btn
      a.el_btn(href="#") チケット予約サイトへ