meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title タイトル
meta(name='description' content='')
  //- PC：１２０文字以内 スマホ：70文字以内

// ここからOGP
meta(propaty='og:url' content=' ページの URL')
meta(propaty='og:type' content=' ページの 種類')
// website /blog 下層→article
meta(propaty='og:title' content=' ページの タイトル')
meta(propaty='og:description' content=' ページの デスクリプション')
meta(propaty='og:site_name' content=' サイト名')
meta(propaty='og:image' content=' サムネイル画像の URL')
// OGPここまで

// Font Awsome CDN
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')

// WOW
link(rel="stylesheet", href="css/animate.css")

// 共通CSS
link(rel='stylesheet', href='css/style.css')