// jQuery読み込み
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

// wow
script(src="js/wow.min.js")

script.
  new WOW().init();

script(type="text/javascript" src="js/script.js")