// ストーリートップ
.story-top.hp_clrWhite
  .story-top_inner.container.wow.fadeIn
    .story-top_ttl
      h1.story-top_main
        img(src='/img/toppage/text1.png' alt='')
      .story-top_sub
        img(src="/img/toppage/text2.png", alt="")
    .story-top_btn
      a.el_btn(href="#") チケット予約サイトへ

    +breadcrumbs(page)
    
    h2.el_lv2Heading.hp_lgSpace story
    .story-top_msg
      .story-top_ttl 小見出し
      p.story-top_txt
        | マハー（偉大な）、バーラタ（バラタ族）、つまり「偉大なバラタ族」の物語。神々が人間界を作り出すところから始まり、バラタ族の中のクル家とパーンドゥ家という二つの部族間の対立を巡るストーリー。神の血を引く個性豊かな登場人物たちによる差別、対立、欲望、嫉妬など、生の苦しみが描かれ、最終的には一族が破滅していく。
        br
        | 世界的な文学作品古代ギリシャの「イーリアス」「オデュッセイア」と並ぶ世界三大叙事詩の一つに数えられており、「ラーマーヤナ」と双璧を成すインド二大叙事詩の一つ。原語はサンスクリット語であるが、全18巻、10万詩節を超えるその長さは聖書の約4倍と言われ、原典の日本語訳はいまだ完結していない。
  // ストーリートップここまで