//*------------------*
//*  変数管理
//*------------------*
//color
$color-black: #333333;
$color-white: #ffffff;
$color-brown: #603813;
$color-brown-light:#874E1B;
$color-red: #c63205;
$color-red-light: #ce5308;
$color-yellow: #F4D102;
$color-pager: #1A1A1A;
$color-gray: #666666;

//font-family
//-->ヒラギノver.
$font-main: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
// $font-main: "Futura-CondensedMedium", sans-serif;

//-->游ゴシックver.
// $font-main:"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;