-
  var pages = [
    {
      pageName: 'トップ',
      pageDir: 'toppage'
    },
    {
      pageName: 'ニュース',
      pageDir: 'news-archive'
    },
    {
      pageName: 'ストーリー',
      pageDir: 'story'
    },
    {
      pageName: '著名人コメント',
      pageDir: 'comments'
    },
    {
      pageName: 'キャスト',
      pageDir: 'cast'
    },
    {
      pageName: '問い合わせ',
      pageDir: 'inquiry'
    },
  ];

- var list = ['1','2','3']