extends ./layout/_home

block content
  // ここからメイン
  main.main
    // ここからファーストビュー
    .fv.py
      .fv__inner.container
        h1.fv__ttl
          img(src="/img/toppage/text1.png", alt="")
        .fv__sub
          .fv__date
            img(src="/img/toppage/text2.png", alt="")
          //- .fv__lead
          //-   p 
    // ここまでファーストビュー

    // ここからイントロ
    section.intro
    // ここまでイントロ

    // ここからニュース
    section.news
    // ここまでニュース

    // ここからストーリー
    section.story
    // ここまでストーリー

    // ここからコメント
    section.comments
    // ここまでコメント

    // ここからキャスト
    section.cast
    // ここまでキャスト
  // ここまでメイン
