.bl_cardUnit_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include mq('sp') {
    flex-direction: column;
  }

  & > .bl_card {

    @include flexWidth(3, 30px);
    @include mq('sp') {
      width: 100%;
    }
  }

  & > .bl_card:nth-child(n+4) {
    @include flexWidth(2, 30px, 3);
    // height: 100px;
    @include mq('sp') {
      width: 100%;
    }

    .bl_card_imgWrapper {
     height: 9vw;

     @include mq('sp') {
      height: 100%;
    }

     img {
       height: 100%;
       object-fit: cover;
     }
    } 

    .bl_card_link {
      flex-direction: row;
      // height: 100%;
  
      @include mq('sp') {
        flex-direction: column;
      }
    }
  }

}
