/*=======================================================
# カードモジュール
=======================================================*/
.bl_card {
  margin-top: 30px; 
  background-color: $color-white;
  // display: flex;
  // flex-direction: column;


  &_imgWrapper {
    position: relative;
    padding-top: 163/298 * 100%;
    overflow: hidden;
    width: 100%;
    margin: 0;
    // max-height: 50%;
    // height: 100%;
    // @include mq('sp') {
    //   height: 100%;
    // }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      // height: 100%;
      transform: translate(-50%,-50%);
      object-fit:cover;
      background-color: $color-gray;
    }
  }


  &_link {
    // display: block;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $color-black;

    &:focus,
    &:hover {
      opacity: .75;
    }
  }

  &_body {
    padding: 14px 14px 14px;
    flex: 0 0 50%;
    height: 100%;
    time {
      @include fzrem(12);
    }
    p {
      @include fzrem(16);
      margin-top: 10px;
      font-weight: bold;
      width: 100%;
      line-height: 1.25;
    } 

  }
}
