.bl_inquiry {
  background:rgba(255,255,255,0.29);
    // background-color: rgba(255,255,255,0.4);
    padding: 30px;
    margin-top: 24px;
    // width: 800px;
    max-width: 736px;
    margin: 0 auto;
  
  > p {
    font-weight: bold;
    @include fzrem(18);
    line-height: 1.6666;

    @include mq('sp') {
      @include fzrem(14);
    }
  }
}