/*=======================================================
# ページャーモジュール
=======================================================*/
.bl_pager {
  margin-top: 30px;
  text-align: center;
  
  &_inner {
    display: flex;
    margin-right: auto;
    margin-left: auto;

    & > *:last-child {
      margin-right: 0;
    }

    & > li {
      margin-right: 15px;
    }
  }
}

.page-numbers {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 24px;
  border: 2px solid $color-pager;
  color: $color-pager;
  text-decoration: none;
  transition: .25s;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;

  &:not(.dots):focus,
  &:not(.dots):hover{
    background-color: $color-pager;
    color: $color-yellow;
    opacity: .75;
  }

  &.current {
    background-color: $color-pager;
    color: $color-yellow;
    pointer-events: none;
  }
  &.dots {
    border: none;
    line-height: 40px;
    min-width: initial;
    width: auto;
  }
  // &.next,
  // &.prev {
  //   font-size: 30px;
  // }
}