/*=======================================================
# 送信ボタンモジュール
=======================================================*/
.el_submit {
  display: inline-block;
  // width: 300px;
  max-width: 100%;
  padding: 10px 30px;
  background-color: $color-red;
  border: 2px solid transparent;
  // box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  color: $color-white;
  @include fzrem(14);
  text-align: center;
  text-decoration: none;
  transition: .25s;
  // 以下、iPhone用
  -webkit-appearance: none;
  border-radius: 0;

  &:focus,
  &:hover {
    // background-color: #fff;
    // border-color: currentColor;
    // color: #e25c00;
    background-color: $color-red-light;
  }
}

