block config
  include ../_config
  include ../mixin/_breadcrumbs

doctype html
html(lang='ja' prefix='og: サイトURL#')
  head
    include ../include/_head

  body
    // ヘッダーここから
    header.header

      //- ヘッダーの中身
      block header
        //- ナビゲーション
        include ../include/_nav
        //- ファーストビュー小
        include ../include/_fvsm
        +breadcrumbs(page)
    // ヘッダーここまで

    // メインここから
    main

      //- 各ページごとの中身
      block content
      
      //- スケジュール（全ページ共通）
      include ../include/_schedule
    // メインここまで  

    // フッタここから
    include ../include/_footer
    // フッタここまで

    //- スクリプト
    block script
      include ../include/_script