/*=======================================================
# [トップ] ファーストビュー
=======================================================*/
.fv {
  width: 100%;
  height: 100%;
  background: transparent url(../img/toppage/pic0.jpg) no-repeat center center / cover;
  &__inner {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
  }
  &__ttl {
    img {
    }
  }
  
  &__sub {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 88px;
    @include mq('sp') {
      flex-wrap: wrap;
    }
  }

  &__date {
    text-align: center;
    width: 40%;
    @include mq('sp') {
      width: 100%;
    }
  }

  &__lead  {
    width: 36%;
    @include mq('sp') {
      width: 100%;
      margin-top: 30px;
    }
    p {
      @include fzrem(14);
      color: $color-white;
      line-height: 1.5714;
    }
  }

  .fv__btn {
    position: absolute;
    // top: 50%;
    // left: 50%;
    bottom: 0;
    right: 30px;
    transform: translateY(50%);
  }
}

