/*=======================================================
# [トップ] イントロ
=======================================================*/
.intro {
  margin-top: 60px;

  .section_subttl {
    margin-top: 15px;
  }
  &__txt {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    @include mq('sp') {
      flex-wrap: wrap;
    }
    
    p {
      width: 48%;
      @include fzrem(12);
      text-align: left;
      line-height: 1.5;
      @include mq('sp') {
        width: 100%;
      }
    }
  }
}

.bl_intro_box {
  background:rgba(255,255,255,0.4) url(../img/toppage/pic1.png) no-repeat  top left / 200px auto;
  // background-color: rgba(255,255,255,0.4);
  padding: 30px;
  text-align: center;
  @include mq('sp') {
    background-size: 120px auto;
  }
}
