/*=======================================================
# [トップ] ニュース
=======================================================*/
.news {
  margin-top: 60px;
  &__inner {
    position: relative;
    padding-bottom: 62px;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0 + 30px;
    @include mq('sp') {
      top: auto;
      right: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}